<%- include("header",assetManifest); %>
    <script type="text/x-mathjax-config">
    MathJax.HTML.Cookie.Set("menu",{renderer:'SVG'}); 
    MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX","output/HTML-CSS"],
    "HTML-CSS": {
      availableFonts:[],
      styles: {".MathJax_Preview": {visibility: "hidden"}}
    },
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
    </script>
    <script type="text/javascript" async="" src="resources/js/MathJax/MathJax.js"></script>
    <div class="meau_btn">菜单</div>
    <% if(typeof(isAdmin)!='undefined'&&isAdmin){ %>
        <% if(typeof(blogPostId)!='undefined'){ %>
            <% if(typeof(editorcontent)!='undefined'){ %>
                <a class="admin_button admin_button_first" href="javascript:blog.submitArticleEditor();">提交</a>
            <%}else{ %>
                <a class="admin_button admin_button_first" href="/blogpost?op=edit&postId=<%- blogPostId %>">编辑</a>
            <% } %>
            <a class="admin_button admin_button_second" href="javascript:blog.deleteArticle('<%- blogPostId %>');">删除</a>
        <%}else{%>
            <a class="admin_button admin_button_first" href="/blogpost?op=edit">添加文章</a>
        <%}%>    
    <% } %>
    <div class="content">
        <%- include("sidebar",{}) %>
        <script type="text/javascript">
            var blogpost = <%- blogPost %>;
        </script>
        <div class='article_list'>
            
            <% if(typeof(articlecontent)!='undefined'){ %>
                <%- articlecontent %>
            <% }else if(typeof(editorcontent)!='undefined'){ %>
                <%- include("editor",editorcontent) %>
            <% } %>
            <div class='page_btn'>
                <a id='page_up' href="">上一章</a>
                <a id='page_down' href="">下一章</a>
            </div>
        </div>
    </div>

    <script>
	    var urlQueryObj = commonlib.getUrlQueryObject(window.location.search); 
        $('.meau_btn').click(function(){
            $('.sidebar').toggleClass('toggle_meau');
        });
        $("#back").css({
            left: ($(window).width() * 0.9),
            top: ($(window).height() * 0.9),
            "z-index": 5
        })
        if (blogpost.pageInfo) {
            $("#page_up").text("上一章");
            $("#page_down").text("下一章");
            if (blogpost.pageInfo.prev) {
                var tmpPrev = "/blogpost?op=show&postId=" + blogpost.pageInfo.prev._id;
                $("#page_up").attr("title", blogpost.pageInfo.prev.title);
                $("#page_up").click(function () {
                    $("#page_up").attr("href", tmpPrev);
                });
            } else {
                $("#page_up").attr("title", "没有了");
            }
            if (blogpost.pageInfo.next) {
                var tmpNext = "/blogpost?op=show&postId=" + blogpost.pageInfo.next._id;
                $("#page_down").attr("title", blogpost.pageInfo.next.title);
                $("#page_down").click(function () {
                    $("#page_down").attr("href", tmpNext);
                })
            } else {
                $("#page_down").attr("title", "没有了");
            }
        }else{
            var pageOffset = urlQueryObj.begin && parseInt(urlQueryObj.begin)|| 0;
            var pageArticles = config.BLOG_POST_ARTICLES;
            var articleType = urlQueryObj.type?"&type="+urlQueryObj.type:"";
            $("#page_up").text("上一章");
            $("#page_up").attr("href","/blogpost?op=list&begin="+(pageOffset>0?pageOffset-pageArticles:0)+articleType);
            $("#page_down").text("下一章");
            $("#page_down").attr("href","/blogpost?op=list&begin="+(pageOffset+pageArticles)+articleType);
        }
      
    </script>
</body>

</html>
