<script type="text/javascript" src="/resources/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/resources/js/tinymce/jquery.form.js"></script>
<form id="blogpost_form" action="/blogpost" method="post">
    <input type="hidden" name="blogPostId" value="<%- blogPostId %>">
    <span>标题:</span><input name="title" type="text" value="<%- title %>" style="width:200px"></input>
    <span>栏目:</span><select name="type"><option><%- typeSelect %></select>
    <input type="hidden" name="authorId" value="<%- userId %>" />
    <input type="hidden" name="authorName" value="<%- userName %>" />
    <input type="hidden" name="tags" value='<%- tags %>'/>
    <br/><span></span>
    <section class="editor_tags">标签:<span class="add_tags"><input id="editor_newtag" type="text" value="+"/></span></section>
    <textarea name="content" id="blogpost_editor_textarea"><%- content %></textarea>
</form>
<script type="text/javascript">
    tinymce.init({
        selector : '#blogpost_editor_textarea',
        height : 800,
        menubar : true,
        upload_image_url:'/upload',
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code uploadimage'
        ],
        cleanup_on_startup: false,
        trim_span_elements: false,
        verify_html: false,
        cleanup: false,
        toolbar : 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image uploadimage',
        content_css:['//www.tinymce.com/css/codepen.min.css']
    });
</script>