<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ZXCCHEN.blog</title>
    <!-- <link rel='stylesheet' type="text/css" href='<%- cdnLocation %>/css/<%- css.bootstrap %>' /> -->
    <link rel='stylesheet' id='flat-fonts-css' href='//fonts.lug.ustc.edu.cn/css?family=Amatic+SC%7CRoboto:400,700%7CRoboto+Slab%7CRoboto+Condensed' media='all' />
    <link type="text/css" rel="stylesheet" href="<%- cdnLocation %>/css/<%- css.main %>">
    <script type="text/javascript" src='<%- cdnLocation %>/js/<%- js.entry %>'></script>
    <script type="text/javascript" src='<%- cdnLocation %>/js/<%- js.common %>'></script>
    <script type="text/javascript" src='<%- cdnLocation %>/js/<%- js.main %>'></script>
</head>
<body>
        <header class='head'>
            <div>
                <h1 class="login_name" onclick="window.location.href='/blogpost?op=list'">ZXCCHEN</h1>
                <span class='login_msg'>不忘初心，方得始终</span>
                <span class='login_btn'><a href="/login">F F F</a></span>
            </div>
        </header>
