<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ZXCCHEN.blog</title>
    
    <link rel='stylesheet' type="text/css" href='<%- cdnLocation %>/css/<%- css.bootstrap %>' />
    <link type="text/css" rel="stylesheet" href="<%- cdnLocation %>/css/<%- css.main %>">
    <script type="text/javascript" src='<%- cdnLocation %>/js/<%- js.entry %>'></script>
    <script type="text/javascript" src='<%- cdnLocation %>/js/<%- js.common %>'></script>
    <script type="text/javascript" src='<%- cdnLocation %>/js/<%- js.main %>'></script>
</head>
<body>
    <div class="container" id='box'>
        <div id='back'>top</div>
        <div class="col-lg-2 col-xs-3" id='sidebar'>
            <div class="bg">
            <div class='head'>
                <h1 class='h1'>ZXCCHEN</h1>
                <h4 class='h4'>作者</h4>
                <h6 class='h6'>授权：署名-非商用许可证</h6>
                <span>Search</span>
                <span>Search</span>
                <span>Search</span>
            </div>
            
            <div class='article'>
                <h5 class='h5'><a>编程</a></h5>
                <h5 class='h5'><a>工具</a></h5>
                <h5 class='h5'><a>数学</a></h5>
                <h5 class='h5'><a>生活</a></h5>
                <h5 class='h5'><a>编程</a></h5>
                <h5 class='h5'><a>工具</a></h5>
                <h5 class='h5'><a>数学</a></h5>
                <h5 class='h5'><a>生活</a></h5>
                <h5 class='h5'><a>编程</a></h5>
                <h5 class='h5'><a>工具</a></h5>
                <h5 class='h5'><a>数学</a></h5>
                <h5 class='h5'><a>生活</a></h5>
                <h5 class='h5'><a>编程</a></h5>
                <h5 class='h5'><a>工具</a></h5>
                <h5 class='h5'><a>数学</a></h5>
                <h5 class='h5'><a>生活</a></h5>
                <h5 class='h5'><a>编程</a></h5>
                <h5 class='h5'><a>工具</a></h5>
                <h5 class='h5'><a>数学</a></h5>
                <h5 class='h5'><a>生活</a></h5>
                <h5 class='h5'><a>编程</a></h5>
                <h5 class='h5'><a>工具</a></h5>
                <h5 class='h5'><a>数学</a></h5>
                <h5 class='h5'><a>生活</a></h5>
                <h5 class='h5'><a>编程</a></h5>
                <h5 class='h5'><a>工具</a></h5>
                <h5 class='h5'><a>数学</a></h5>
                <h5 class='h5'><a>生活</a></h5>
                <h5 class='h5'><a>编程</a></h5>
                <h5 class='h5'><a>工具</a></h5>
                <h5 class='h5'><a>数学</a></h5>
                <h5 class='h5'><a>生活</a></h5>
            </div>
            <div class='foot'>
                <h4 class='h4'>源码</h4>
                <h4 class='h4'>修订历史</h4>
                <h4 class='h4'>反馈意见</h4>
            </div>
            </div>
        </div>
        
        <div class="col-lg-7 col-xs-9" id='content'>
            <div class="bg">
            <h1 class='h1'>fff</h1>
            最近iphone6一下出了两款尺寸的手机，导致的移动端的屏幕种类更加的混乱，记得一两年前做web app有一种做法是以320宽度为标准去做适配，超过320的大小还是以320的规格去展示，这种实现方式以淘宝web app为代表作，但是近期手机淘宝首页进行了改版，采用了rem这个单位，首页以内依旧是和以前一样各种混乱，有定死宽度的页面，也有那种流式布局的页面。

    我们现在在切页面布局的使用常用的单位是px，这是一个绝对单位，web app的屏幕适配有很多中做法，例如：流式布局、限死宽度，还有就是通过响应式来做，但是这些方案都不是最佳的解决方法。

    例如流式布局的解决方案有不少弊端，它虽然可以让各种屏幕都适配，但是显示的效果极其的不好，因为只有几个尺寸的手机能够完美的显示出视觉设计师和交互最想要的效果，但是目前行业里用流式布局切web app的公司还是挺多的，看看下面我收集的一些案例：
        <pre>
        var express=require("express");
        var server = express()
        var fs = require("fs")

        server.use("/resources",express.static("resources"));
        server.get("(/|/homepage.html)",function(req,res){
            res.sendFile(__dirname+"/homepage.html");
        })

        server.listen(80,function(){
            console.log("blog zxcchen.me is now running!!");
        });
        </pre>
            最近iphone6一下出了两款尺寸的手机，导致的移动端的屏幕种类更加的混乱，记得一两年前做web app有一种做法是以320宽度为标准去做适配，超过320的大小还是以320的规格去展示，这种实现方式以淘宝web app为代表作，但是近期手机淘宝首页进行了改版，采用了rem这个单位，首页以内依旧是和以前一样各种混乱，有定死宽度的页面，也有那种流式布局的页面。

    我们现在在切页面布局的使用常用的单位是px，这是一个绝对单位，web app的屏幕适配有很多中做法，例如：流式布局、限死宽度，还有就是通过响应式来做，但是这些方案都不是最佳的解决方法。

    例如流式布局的解决方案有不少弊端，它虽然可以让各种屏幕都适配，但是显示的效果极其的不好，因为只有几个尺寸的手机能够完美的显示出视觉设计师和交互最想要的效果，但是目前行业里用流式布局切web app的公司还是挺多的，看看下面我收集的一些案例：
        <div id='btn'><span id='page_up'>上一章</span><span id='page_down'>下一章</span></div>
        </div>
        </div>
        
        <div class='col-lg-3 col-xs-3'>
        
        </div>
        
    </div>
    
</body>
</html>
